body {
    /*background-image: url("../img/hua.jpg");*/
    background-color: #F8F8F8;
}
.slider {
    /*background-color: #F8F8F8;*/
    margin-top: -20px;
    background-color: #ffffff;
}
.main {
    border: 1px solid #e2e3e4;
    border-top: none;
}
.main1 {
    border-right: 1px solid #e2e3e4;
}
.main1 small {
    color: black;
    font-size: 24px;
    padding-left: 10px;
}
.slider a {
    color: black;
    text-decoration: none;
}
.slider a:hover {
    color: #00b3ee;
}
.myContainer {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
